extends ./layout.jade
include ./mixins/posts

block content
    each post in blogs
        .post-container
            +post-title(post)
            .post-preview!= post.preview
            +post-footer(post)
