extend ./layout.jade
block content
    .info
        |To get started, create a &nbsp;
        span
            |url-of-post.md
        |&nbsp;file in the &nbsp;
        span
            |/content
        |&nbsp;directory
