extend ./layout.jade
include ./mixins/posts

block content
    .jumbotron
        !{template.sections.welcome}
    .panel.panel-default
        .panel-heading
            h2 Latest Articles...
        .panel-body
            .row
                - for (var i = 0; i < 3; ++i) {
                    .col-sm-6.col-md-4
                        .thumbnail
                            img(data-src='holder.js/300x200', alt='300x200', src='data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSI+PC9yZWN0Pjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjE1MCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE5cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MzAweDIwMDwvdGV4dD48L3N2Zz4=', style='width: 300px; height: 200px;')
                            .caption
                                +post-title(blogs[i])
                                .post-preview!= blogs[i].preview
                                .post-footer
                                    each tag in blogs[i].tags
                                        a.tag.btn.btn-primary.btn-sm(href='/tag/'+tag)=tag
                - }
