include ./mixins/nav

html(lang='en')
    head
        title= title + ' | '+ config.brand
        meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1')
        link(rel='stylesheet', type='text/css', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/css/styles/'+config.style+'.css')
        link(rel='stylesheet', type='text/css', href='http://bootswatch.com/yeti/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/css/app.css')
        script(type='text/javascript', src='/js/jquery.min.js')
        script(type='text/javascript', src='/js/bootstrap.min.js')
        script(type='text/javascript', src='/js/highlight.pack.js')
        script(type='text/javascript', src='/js/keyboard-shortcuts.js')

    body
        .container
            +nav
            .span10.offset1
                header
                    a(href='/')
                        span
                            img(src=config.gravatar)
                    h1= config.title
                    hr
                block content
            .span10.offset1.footer
                | powered by&nbsp;
                a(href='https://github.com/jamlen/sitemark', target='_blank') sitemark
    script.
        hljs.initHighlightingOnLoad();
