extend ../layout.jade

block content
    .row
        .col-md-4.col-lg-5
            != template.sections.image
        .col-md-offset-1.col-md-8.col-lg-6
            .panel.panel-default
                .panel-heading Bio
                .panel-body
                    != template.sections.bio
                .panel-footer
                    != template.sections.contact
