mixin post-footer(post)

    .post-footer
        h3= post.relativeDate
        each tag in post.tags
            a.tag.btn.btn-primary.btn-sm(href='/tag/'+tag)=tag

mixin post-title(post)
    h1
        a(href=post.url)= post.title
